################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/q4sdk/FileContentIndex/3be2ce11-c583-46ab-97f4-a54839fad142.vsidx
